body{
    font-family: Arial;
    background-color: lightsalmon;
    margin: 0;
    
}
/*Header*/
.header{
    background-color: rosybrown;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    margin-top: 10px;
    padding: 5px 10%;
    border-radius: 50px;
}
/*Fin Header*/

/*Logo*/
.logo{
    cursor: pointer;
    margin-right: auto;
}
.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}
/*Fin Logo*/

/* Menu de navegacion */
.menu{
    list-style: none;
}
.header .menu li {
    display: inline-block;
    padding: 0 20px;
}
.header .menu li:hover{
    transform: scale(1.1);
}
.header .menu a{
    font-size: 700;
    color: aliceblue;
    text-decoration: none;
}
.header.menu li a:hover{
    color: blueviolet;
}
/*Fin Menu de navegacion*/

/*Slider*/
.slider{
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
/*Movimiento Img*/
@keyframes cambio{
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}
/*Fin slider*/

.btn{
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 20px;
    background-color: rosybrown;
    border-radius: 50px;
    padding: 25px 45px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 495px;
    margin-right: 495px;
}
.btn:hover{
    background-color: rgb(133, 101, 101);
}

/*INICIO FOOTER*/
footer{
    background-color: rosybrown;
    color: white;
    width: 100%;
    margin: auto;

}
.footer-body{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
/*Informacion de Nosotros*/
.columna1{
    max-width: 400px;
}
.columna1 h1{font-size: 25px;}
.columna1 p{
    font-size: 15px; 
    margin-top: 20px; 
    color: rgba(61, 61, 61);
    text-align: left;
    margin-left: 20px;
}
/*Fin Informacion de Nosotros*/

/*Redes Sociales*/
.columna2{
    max-width: auto;
}
.columna2 h1{font-size: 25px;}
.fila{
    margin-top: 10px;
    display: flex;
}
.fila img{
    width: 40px;
    height: 40px;
}
.fila label{
    margin-top: 10px;
    margin-left: 10px;
    color: rgba(61, 61, 61);
}
/*Fin Redes Sociales*/

/*Contactenos*/
.columna3{
    max-width: auto;
}
.columna3 h1{font-size: 25px;}

.fila1{
    margin-top: 20px;
    display: flex;
}
.fila1 img{
    width: 40px;
    height: 40px;
}
.fila1 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 150px;
    color: rgba(61, 61, 61);
}
/*Fin contactenos*/
/*FIN FOOTER*/


/*Formulario*/
.formulario{
    width: 200px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative;
}
.formulario h1{
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.7);
}
.formulario .inputform .label .submit{
    display: block;
    width: 100%;
    font-size: 1.3em;
}
.formulario .inputform{
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    background: transparent;
}
.formulario .inputform:focus{
    outline: 1px solid rgba(0,0,0,0.7 );
}
.formulario .inputform:focus+.label{
    margin-top: -130px;
}
.formulario .label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    transition: all 0.3s;
}
.formulario .submit{
    background: rgba(0,0,0,0.7 );
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}
/*Formulario-JS*/
.fijar{
    margin-top: -130px;
}
/*Fin Formulario-JS*/
/*Fin Formulario*/