body{
    font-family: Arial;
    background-color: lightsalmon;
    margin: 0;
    text-align: center;
}
/*Header*/
.header{
    background-color: rosybrown;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    border-radius: 50px;
}
/*Fin Header*/

/*Logo*/
.logo{
    cursor: pointer;
    margin-right: auto;
}
.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}
/*Fin Logo*/

/* Menu de navegacion */
.menu{
    list-style: none;
}
.header .menu li {
    display: inline-block;
    padding: 0 20px;
}
.header .menu li:hover{
    transform: scale(1.1);
}
.header .menu a{
    font-size: 700;
    color: aliceblue;
    text-decoration: none;
}
.header.menu li a:hover{
    color: blueviolet;
}
/*Fin Menu de navegacion*/

/*Seccion de Peinados*/
.grid-layout{
    cursor: pointer;
    background-color: rosybrown;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    justify-content: stretch;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    
}
.peinados{
    grid-column: 1/5;
}
.grid-layout .peinados img{
    height: 224px;
    width: 224px;
    transition: all 0.3s;
}
.grid-layout .peinados img:hover{
    transform: scale(1.1);
}
/*Fin Seccion de Peinados*/