body{
    font-family: Arial;
    background-color: lightsalmon;
    margin: 0;
    text-align: center;
}
header{
    display: flex;
    height: 70px;
    border-color: rosybrown;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-img{
    height: 50px;
    margin-right: 10 px;
}
/* Menu de navegacion */
.menu{
    list-style: none;
    padding: 0;
    background-color: rosybrown;
    width: 90%;
    max-width: auto;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a :hover{
    background-color: lightseagreen;
}
/*Fin Menu de navegacion*/

/*Seccion de Peinados*/
.grid-layout{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    justify-content: stretch;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
}
.grid-layout :hover{
    background-color: antiquewhite;
}
.C1{
    grid-column: 1/5;
}
/*Fin Seccion de Peinados*/